.body {
    background: none;
}

@media screen and (max-width: 1279px) {
    .body {
        background: #2A2C2F;
    }
} 

@media screen and (max-width: 1023px) {
    .body {
        background: #2A2C2F;
    }
} 

@media all and (max-width: 767px) {
    .body {
        background: #2A2C2F;
    }
} 