.footer__copyright {
max-width: 592px;
margin-top: 0;
margin-bottom: 24px;
display: flex;
justify-content: end;
font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 14px;
        max-width: 186px;
        margin: 48px 0 24px;
        justify-content: start;
    }
} 